* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.about-column1 {
  float: left;
  width: 50%;
  height: 100%;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  backdrop-filter: blur(20px);

}

.about-column1::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.067);
}

.about-column2 {
  float: left;
  width: 50%;
  padding: 10px;
  backdrop-filter: blur(20px);
  background-color: #ffffff22;
  border: 2px solid rgba(255,255,255,.5);
  height: 400px; /* Should be removed. Only for demonstration */
}

.about-p{
    color: aliceblue;
    text-align: center;
    font-size: 1.5vw;
    text-transform: none;
}

/* Clear floats after the columns */
.about-row:after {
  content: "";
  display: table;
  clear: both;
}

.about-heading .hom-span{
  color:#ffffff;
  text-transform: uppercase;
}

.about-heading{
  text-align: center;
  color:#fff;
  text-transform: uppercase;
  padding-bottom: 0.9rem;
  font-size: 4rem;
}